body {
    background: #657077 url('/g/background.jpg') no-repeat top center;
    margin: 0px;
}

a {
    color: #8d8047;
    text-decoration: none;
}

a:hover {
    color: #8d8047;
    text-decoration: underline;
}

a:active {
    color: #282e32;
    text-decoration: underline;
}

#addrInput {
    border: 1px solid #adb9c2;
}

.htable {
	width: 100%;
	font-size:12px;
	color: #333;
	background-color: #fff;
	border-spacing: 0;
	margin: 10px 0 5px;
	text-align: left;
	border: 0px solid black;
}
.htable th,
.htable thead td {
	font-size: 14px;
	color: #464c54;
	background-color: #fff;
	border-collapse: collapse;
	border-bottom: #000 2px solid;
	padding: 0;
}
.htable td {
	background-color: #fff;
	border-bottom: #adb9c2 1px solid;
	padding: 4px;
	vertical-align: top;
	font-size: 13px;
}

.htable tr:last-child td {
	border-bottom:none;
}

.htable tr:nth-last-child(2) td {
	border-bottom:none;
}

.content {
    padding:30px 40px 20px 40px;
    border: 1px solid #464c54;
    border-top: 0px;
    background: #ffffff url('/g/content_bottom.jpg') repeat-x bottom;
}

#upcoming, #past, #help { display:none; }

#tabbed_box_1 {
	margin: 0px auto 0px auto;
	width:683px;
}
.tabbed_box h4 {
    font-size: 19px;
    color: #393c40;
    letter-spacing: -1px;
    margin-bottom: 1px;
    text-shadow: 0px 1px 1px #adb8c2;
    text-decoration: none;
}

#btcdiv_text:hover  {
    font-size: 22px;
    color: #393c40;
    letter-spacing: -1px;
    margin-bottom: 1px;
    text-decoration: none;
}

#btcdiv_text:visited {
    font-size: 22px;
    color: #393c40;
    letter-spacing: -1px;
    margin-bottom: 1px;
    text-decoration: none;
}

#btcdiv_text:active {
    font-size: 22px;
    color: #393c40;
    letter-spacing: -1px;
    margin-bottom: 1px;
    text-decoration: none;
}

#btcdiv_text {
    font-size: 22px;
    color: #393c40;
    letter-spacing: -1px;
    margin-bottom: 1px;
	text-decoration: none;
}

#btcSmall_text {
    font-size: 16px;
    color: #393c40;
    letter-spacing: -1px;
    margin-bottom: 1px;
	text-decoration: none;
}
:focus {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
}

.tabbed_area {
    border: 1px solid #494e52;
    background-color: #636d76;
    padding: 8px;
}

ul.tabs {
margin:0px; padding:0px;
margin-top:5px;
margin-bottom:6px;
}

ul.tabs li {
    list-style: none;
    display: inline;
}

ul.tabs li a {
    color: #ffebb5;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    font-size: 12px;
    font-variant: small-caps;
    border: 1px solid #464c54;
    border-bottom: 0px;
    background: #464c54 url('/g/tab_off.jpg') repeat-x top;
}

ul.tabs li a:hover {
    background-color: #2f343a;
    border-color: #2f343a;
    color: #faf7ed;
}

ul.tabs li a:hover {
    background-color: #2f343a;
    border-color: #2f343a;
}

ul.tabs li a.active {
    color: #282e32;
    border: 1px solid #464c54;
    border-bottom: 0px solid #ffffff;
    background: #ffffff url('/g/tab_on.jpg') repeat-x top;
    
}

.awesome, .awesome:visited {
    background: #f3f4f4;
    width: 115px;
    display: inline-block;
    padding: 3px 10px 5px;
    color: #464c54;
    text-decoration: none;
    text-align: center;
    border: 1px solid #adb9c2;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-variant: small-caps;
}

.awesomeDisabled, .awesomeDisabled:visited, .awesomeDisabled:hover {
    background: #f3f4f4;
    width: 115px;
    display: inline-block;
    padding: 3px 10px 5px;
    color: #464c54;
    text-decoration: none;
    text-align: center;
    border: 1px solid #adb9c2;
    position: relative;
    cursor: default;
    font-size: 16px;
    font-variant: small-caps;
}

.awesome:hover, .awesomeTiny:hover, .awesomeSmall:hover {
    cursor: pointer;
    border: 1px solid #2f343a;
    color: #000;
    text-decoration: none;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.awesome:active, .awesomeTiny:active, .awesomeSmall:active {
    top: 1px;
}

.awesomeTiny, .awesomeTiny:visited {
    background: #f3f4f4;
    display: inline-block;
    padding: 0px 1px 0px;
    margin: 1px;
    color: #464c54;
    text-decoration: none;
    text-align: center;
    border: 1px solid #adb9c2;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold;
}

.awesomeSmall, .awesomeSmall:visited {
    background: #f3f4f4;
    display: inline-block;
    padding: 0px 5px 0px;
    margin: 1px;
    color: #464c54;
    text-decoration: none;
    text-align: center;
    border: 1px solid #adb9c2;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-variant: small-caps;
}
